
esqueleto_practica2/ass_parser\.cpp

esqueleto_practica2/bin/data/pattern\.tga

esqueleto_practica2/bin/report\.ma

esqueleto_practica2/bin/scene\.dgc

esqueleto_practica2/brdfs/blinn\.h

esqueleto_practica2/brdfs/blinnphong\.h

esqueleto_practica2/brdfs/standard\.h

esqueleto_practica2/deploy/x64/Debug/rendering\.exp

esqueleto_practica2/lib/include/bvh/bounds\.h

esqueleto_practica2/lib/include/bvh/intersection\.h

esqueleto_practica2/lib/include/bvh/kdtree_opt\.h

esqueleto_practica2/lib/include/bvh/kdtree\.h

esqueleto_practica2/lib/include/bvh/kdtreeaccel\.h

esqueleto_practica2/lib/include/camera\.h

esqueleto_practica2/lib/include/color\.h

esqueleto_practica2/lib/include/core\.h

esqueleto_practica2/lib/include/error\.h

esqueleto_practica2/lib/include/geometry\.h

esqueleto_practica2/lib/include/glog/config\.h

esqueleto_practica2/lib/include/glog/glog/log_severity\.h

esqueleto_practica2/lib/include/glog/glog/logging\.h

esqueleto_practica2/lib/include/glog/glog/raw_logging\.h

esqueleto_practica2/lib/include/glog/glog/stl_logging\.h

esqueleto_practica2/lib/include/glog/glog/vlog_is_on\.h

esqueleto_practica2/lib/include/glog/port\.cc

esqueleto_practica2/lib/include/glog/port\.h

esqueleto_practica2/lib/include/glog/preprocess\.sh

esqueleto_practica2/lib/include/gmtl/gmtl/AABox\.h

esqueleto_practica2/lib/include/gmtl/gmtl/AABoxOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/AxisAngle\.h

esqueleto_practica2/lib/include/gmtl/gmtl/AxisAngleOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Comparitors\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Config\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Containment\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Coord\.h

esqueleto_practica2/lib/include/gmtl/gmtl/CoordOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Defines\.h

esqueleto_practica2/lib/include/gmtl/gmtl/EulerAngle\.h

esqueleto_practica2/lib/include/gmtl/gmtl/EulerAngleOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/External/OpenSGConvert\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Fit/GaussPointsFit\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Frustum\.h

esqueleto_practica2/lib/include/gmtl/gmtl/FrustumOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Generate\.h

esqueleto_practica2/lib/include/gmtl/gmtl/gmtl\.doxygen

esqueleto_practica2/lib/include/gmtl/gmtl/gmtl\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Helpers\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Intersection\.h

esqueleto_practica2/lib/include/gmtl/gmtl/LineSeg\.h

esqueleto_practica2/lib/include/gmtl/gmtl/LineSegOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Math\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Matrix\.h

esqueleto_practica2/lib/include/gmtl/gmtl/MatrixOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Misc/MatrixConvert\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Numerics/Eigen\.h

esqueleto_practica2/lib/include/gmtl/gmtl/OOBox\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Output\.h

esqueleto_practica2/lib/include/gmtl/gmtl/ParametricCurve\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Plane\.h

esqueleto_practica2/lib/include/gmtl/gmtl/PlaneOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Point\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Quat\.h

esqueleto_practica2/lib/include/gmtl/gmtl/QuatOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Ray\.h

esqueleto_practica2/lib/include/gmtl/gmtl/RayOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Sphere\.h

esqueleto_practica2/lib/include/gmtl/gmtl/SphereOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Tri\.h

esqueleto_practica2/lib/include/gmtl/gmtl/TriOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Util/Assert\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Util/Meta\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Util/StaticAssert\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Vec\.h

esqueleto_practica2/lib/include/gmtl/gmtl/VecBase\.h

esqueleto_practica2/lib/include/gmtl/gmtl/VecExprMeta\.h

esqueleto_practica2/lib/include/gmtl/gmtl/VecOps\.h

esqueleto_practica2/lib/include/gmtl/gmtl/VecOpsMeta\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Version\.h

esqueleto_practica2/lib/include/gmtl/gmtl/Xforms\.h

esqueleto_practica2/lib/include/imageio\.h

esqueleto_practica2/lib/include/lights\.h

esqueleto_practica2/lib/include/lights/pointlight\.h

esqueleto_practica2/lib/include/material\.h

esqueleto_practica2/lib/include/memory\.h

esqueleto_practica2/lib/include/parallel\.h

esqueleto_practica2/lib/include/parsers/ass_parser\.h

esqueleto_practica2/lib/include/parsers/text_parser\.h

esqueleto_practica2/lib/include/primitives\.h

esqueleto_practica2/lib/include/progressreporter\.h

esqueleto_practica2/lib/include/spectrum\.h

esqueleto_practica2/lib/include/stats\.h

esqueleto_practica2/lib/include/stringprint\.h

esqueleto_practica2/lib/include/transform\.h

esqueleto_practica2/lib/include/world\.h

esqueleto_practica2/lights/point_light\.cpp

esqueleto_practica2/main\.h

esqueleto_practica2/maya/ma_writer\.cpp

esqueleto_practica2/maya/ma_writer\.h

esqueleto_practica2/maya/maya_helper\.py

esqueleto_practica2/rendering\.sln

esqueleto_practica2/rendering\.vcxproj

esqueleto_practica2/rendering\.vcxproj\.filters

esqueleto_practica2/reporter\.cpp

esqueleto_practica2/reporter\.h

esqueleto_practica2/resources/empty\.ma

rendering_lib/include/bvh/bounds\.h

rendering_lib/include/bvh/intersection\.h

rendering_lib/include/bvh/kdtree_opt\.h

rendering_lib/include/bvh/kdtree\.h

rendering_lib/include/bvh/kdtreeaccel\.h

rendering_lib/include/camera\.h

rendering_lib/include/color\.h

rendering_lib/include/core\.h

rendering_lib/include/error\.h

rendering_lib/include/geometry\.h

rendering_lib/include/glog/config\.h

rendering_lib/include/glog/glog/log_severity\.h

rendering_lib/include/glog/glog/logging\.h

rendering_lib/include/glog/glog/raw_logging\.h

rendering_lib/include/glog/glog/stl_logging\.h

rendering_lib/include/glog/glog/vlog_is_on\.h

rendering_lib/include/glog/port\.cc

rendering_lib/include/glog/port\.h

rendering_lib/include/glog/preprocess\.sh

rendering_lib/include/gmtl/AUTHORS

rendering_lib/include/gmtl/ChangeLog

rendering_lib/include/gmtl/CMakeLists\.txt

rendering_lib/include/gmtl/COPYING

rendering_lib/include/gmtl/docs/docbook\.mk

rendering_lib/include/gmtl/docs/ex_builder\.py

rendering_lib/include/gmtl/docs/ex_builder\.wpr

rendering_lib/include/gmtl/docs/faq/gmtlfaq\.doxygen

rendering_lib/include/gmtl/docs/gmtl\.doxy

rendering_lib/include/gmtl/docs/gmtl\.latex\.doxy

rendering_lib/include/gmtl/docs/gmtl\.man\.doxy

rendering_lib/include/gmtl/docs/Makefile

rendering_lib/include/gmtl/docs/programmer\.guide/guide\.xml

rendering_lib/include/gmtl/docs/programmer\.guide/Makefile

rendering_lib/include/gmtl/docs/sourceforge\.site/index\.html

rendering_lib/include/gmtl/docs/sourceforge\.site/README\.txt

rendering_lib/include/gmtl/docs/version\.mk\.doxy

rendering_lib/include/gmtl/examples/faqexample\.cpp

rendering_lib/include/gmtl/examples/gmtlexamples\.doxy\.in

rendering_lib/include/gmtl/Findpackage\.cmake\.in

rendering_lib/include/gmtl/gmtl-config

rendering_lib/include/gmtl/gmtl-config-version\.cmake\.in

rendering_lib/include/gmtl/gmtl-config\.cmake\.in

rendering_lib/include/gmtl/gmtl\.fpc\.in

rendering_lib/include/gmtl/gmtl\.spec

rendering_lib/include/gmtl/gmtl/AABox\.h

rendering_lib/include/gmtl/gmtl/AABoxOps\.h

rendering_lib/include/gmtl/gmtl/AxisAngle\.h

rendering_lib/include/gmtl/gmtl/AxisAngleOps\.h

rendering_lib/include/gmtl/gmtl/Comparitors\.h

rendering_lib/include/gmtl/gmtl/Config\.h

rendering_lib/include/gmtl/gmtl/Containment\.h

rendering_lib/include/gmtl/gmtl/Coord\.h

rendering_lib/include/gmtl/gmtl/CoordOps\.h

rendering_lib/include/gmtl/gmtl/Defines\.h

rendering_lib/include/gmtl/gmtl/EulerAngle\.h

rendering_lib/include/gmtl/gmtl/EulerAngleOps\.h

rendering_lib/include/gmtl/gmtl/External/OpenSGConvert\.h

rendering_lib/include/gmtl/gmtl/Fit/GaussPointsFit\.h

rendering_lib/include/gmtl/gmtl/Frustum\.h

rendering_lib/include/gmtl/gmtl/FrustumOps\.h

rendering_lib/include/gmtl/gmtl/Generate\.h

rendering_lib/include/gmtl/gmtl/gmtl\.doxygen

rendering_lib/include/gmtl/gmtl/gmtl\.h

rendering_lib/include/gmtl/gmtl/Helpers\.h

rendering_lib/include/gmtl/gmtl/Intersection\.h

rendering_lib/include/gmtl/gmtl/LineSeg\.h

rendering_lib/include/gmtl/gmtl/LineSegOps\.h

rendering_lib/include/gmtl/gmtl/Math\.h

rendering_lib/include/gmtl/gmtl/Matrix\.h

rendering_lib/include/gmtl/gmtl/MatrixOps\.h

rendering_lib/include/gmtl/gmtl/Misc/MatrixConvert\.h

rendering_lib/include/gmtl/gmtl/Numerics/Eigen\.h

rendering_lib/include/gmtl/gmtl/OOBox\.h

rendering_lib/include/gmtl/gmtl/Output\.h

rendering_lib/include/gmtl/gmtl/ParametricCurve\.h

rendering_lib/include/gmtl/gmtl/Plane\.h

rendering_lib/include/gmtl/gmtl/PlaneOps\.h

rendering_lib/include/gmtl/gmtl/Point\.h

rendering_lib/include/gmtl/gmtl/Quat\.h

rendering_lib/include/gmtl/gmtl/QuatOps\.h

rendering_lib/include/gmtl/gmtl/Ray\.h

rendering_lib/include/gmtl/gmtl/RayOps\.h

rendering_lib/include/gmtl/gmtl/Sphere\.h

rendering_lib/include/gmtl/gmtl/SphereOps\.h

rendering_lib/include/gmtl/gmtl/Tri\.h

rendering_lib/include/gmtl/gmtl/TriOps\.h

rendering_lib/include/gmtl/gmtl/Util/Assert\.h

rendering_lib/include/gmtl/gmtl/Util/Meta\.h

rendering_lib/include/gmtl/gmtl/Util/StaticAssert\.h

rendering_lib/include/gmtl/gmtl/Vec\.h

rendering_lib/include/gmtl/gmtl/VecBase\.h

rendering_lib/include/gmtl/gmtl/VecExprMeta\.h

rendering_lib/include/gmtl/gmtl/VecOps\.h

rendering_lib/include/gmtl/gmtl/VecOpsMeta\.h

rendering_lib/include/gmtl/gmtl/Version\.h

rendering_lib/include/gmtl/gmtl/Xforms\.h

rendering_lib/include/gmtl/LICENSE

rendering_lib/include/gmtl/LICENSE\.addendum

rendering_lib/include/gmtl/macros/gmtl\.m4

rendering_lib/include/gmtl/packageBuildTreeSettings\.cmake\.in

rendering_lib/include/gmtl/packageConfig\.cmake\.in

rendering_lib/include/gmtl/packageConfigVersion\.cmake\.in

rendering_lib/include/gmtl/pygmtl\.spec

rendering_lib/include/gmtl/python/pyste/gmtl\.pyste

rendering_lib/include/gmtl/python/pyste/SConscript

rendering_lib/include/gmtl/python/SConscript

rendering_lib/include/gmtl/python/src/gmtl-AABoxOps\.h

rendering_lib/include/gmtl/python/src/gmtl-array-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-AxisAngleOps\.h

rendering_lib/include/gmtl/python/src/gmtl-callable-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-containment-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-Containment\.h

rendering_lib/include/gmtl/python/src/gmtl-CoordOps\.h

rendering_lib/include/gmtl/python/src/gmtl-EulerAngleOps\.h

rendering_lib/include/gmtl/python/src/gmtl-FrustumOps\.h

rendering_lib/include/gmtl/python/src/gmtl-Generate\.h

rendering_lib/include/gmtl/python/src/gmtl-getData-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-intersect-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-LineSegOps\.h

rendering_lib/include/gmtl/python/src/gmtl-MatrixOps\.h

rendering_lib/include/gmtl/python/src/gmtl-pickle\.h

rendering_lib/include/gmtl/python/src/gmtl-PlaneOps\.h

rendering_lib/include/gmtl/python/src/gmtl-QuatOps\.h

rendering_lib/include/gmtl/python/src/gmtl-RayOps\.h

rendering_lib/include/gmtl/python/src/gmtl-SphereOps\.h

rendering_lib/include/gmtl/python/src/gmtl-TriOps\.h

rendering_lib/include/gmtl/python/src/gmtl-VecOps\.h

rendering_lib/include/gmtl/python/src/gmtl-wrappers\.h

rendering_lib/include/gmtl/python/src/gmtl-Xforms\.h

rendering_lib/include/gmtl/python/src/gmtl/_AABox_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_AABox_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_AxisAngle_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_AxisAngle_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_3_gmtl_AxisAngle_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_3_gmtl_EulerAngle_double_gmtl_XYZ\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_3_gmtl_EulerAngle_double_gmtl_ZXY\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_3_gmtl_EulerAngle_double_gmtl_ZYX\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_3_gmtl_Quat_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_4_gmtl_AxisAngle_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_4_gmtl_EulerAngle_double_gmtl_XYZ\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_4_gmtl_EulerAngle_double_gmtl_ZXY\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_4_gmtl_EulerAngle_double_gmtl_ZYX\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_double_4_gmtl_Quat_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_3_gmtl_AxisAngle_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_3_gmtl_EulerAngle_float_gmtl_XYZ\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_3_gmtl_EulerAngle_float_gmtl_ZXY\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_3_gmtl_EulerAngle_float_gmtl_ZYX\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_3_gmtl_Quat_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_4_gmtl_AxisAngle_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_4_gmtl_EulerAngle_float_gmtl_XYZ\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_4_gmtl_EulerAngle_float_gmtl_ZXY\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_4_gmtl_EulerAngle_float_gmtl_ZYX\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Coord_gmtl_Vec_float_4_gmtl_Quat_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_EulerAngle_float_gmtl_XYZ\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_EulerAngle_float_gmtl_ZXY\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_EulerAngle_float_gmtl_ZYX\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Frustum_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Frustum_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_AABoxOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_AxisAngleOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_Containment_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_containment_wrappers_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_CoordOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_Defines_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_EulerAngleOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_FrustumOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_Generate_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_intersect_wrappers_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_LineSegOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_Math_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_MatrixOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_PlaneOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_QuatOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_RayOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_SphereOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_TriOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_VecOps_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_wrappers_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_gmtl_Xforms_h\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_LineSeg_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_LineSeg_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Matrix_float_3_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Matrix_float_4_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Plane_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Plane_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_double_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_double_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_float_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_float_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_int_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Point_int_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Quat_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Quat_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Ray_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Ray_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Sphere_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Sphere_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Tri_double\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Tri_float\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Tri_int\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_double_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_double_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_double_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_float_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_float_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_float_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_int_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_int_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_Vec_int_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_double_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_double_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_double_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_float_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_float_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_float_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_int_2\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_int_3\.cpp

rendering_lib/include/gmtl/python/src/gmtl/_VecBase_int_4\.cpp

rendering_lib/include/gmtl/python/src/gmtl/gmtl\.cpp

rendering_lib/include/gmtl/python/src/gmtl/SConscript

rendering_lib/include/gmtl/python/src/SConscript

rendering_lib/include/gmtl/python/test/gmtl-test\.py

rendering_lib/include/gmtl/python/test/SConscript

rendering_lib/include/gmtl/python/test/testsuite\.py

rendering_lib/include/gmtl/README

rendering_lib/include/gmtl/README-PyGMTL

rendering_lib/include/gmtl/SConstruct

rendering_lib/include/gmtl/Test/SConscript

rendering_lib/include/gmtl/Test/TestSuite/gmtl_metrics\.txt

rendering_lib/include/gmtl/Test/TestSuite/runner\.cpp

rendering_lib/include/gmtl/Test/TestSuite/SConscript

rendering_lib/include/gmtl/Test/TestSuite/Suites\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxContainTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxContainTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxOpsTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxOpsTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AABoxTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AxisAngleClassTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AxisAngleClassTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AxisAngleCompareTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/AxisAngleCompareTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/ContainmentTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/ConvertTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/ConvertTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordClassTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordClassTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordCompareTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordCompareTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordGenTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/CoordGenTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/EulerAngleClassTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/EulerAngleClassTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/EulerAngleCompareTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/EulerAngleCompareTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/InfoTests/OptTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/InfoTests/OptTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/InfoTests/SConscript

rendering_lib/include/gmtl/Test/TestSuite/TestCases/IntersectionTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/IntersectionTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/LineSegTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/LineSegTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MathTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MathTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixClassTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixClassTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixCompareTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixCompareTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixGenTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixGenTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixOpsTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixOpsTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixStateTrackingTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixStateTrackingTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MatrixTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/MetaTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/OOBoxTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/OutputTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/OutputTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/ParametricCurveTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/ParametricCurveTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/PlaneTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/PlaneTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/PointTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/PointTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatClassTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatClassTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatCompareTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatCompareTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatGenTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatGenTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatOpsTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatOpsTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatStuffTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatStuffTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/QuatTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/SConscript

rendering_lib/include/gmtl/Test/TestSuite/TestCases/SphereTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/SphereTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/TriTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/TriTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecBaseTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecBaseTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecGenTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecGenTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/VecTest\.h

rendering_lib/include/gmtl/Test/TestSuite/TestCases/XformTest\.cpp

rendering_lib/include/gmtl/Test/TestSuite/TestCases/XformTest\.h

rendering_lib/include/gmtl/Test/TestSuite/vc7/cppunit\.vcproj

rendering_lib/include/gmtl/Test/TestSuite/vc7/TestSuite\.sln

rendering_lib/include/gmtl/Test/TestSuite/vc7/TestSuite\.vcproj

rendering_lib/include/gmtl/tools/build/AutoDist\.py

rendering_lib/include/gmtl/Usepackage\.cmake\.in

rendering_lib/include/imageio\.h

rendering_lib/include/lights\.h

rendering_lib/include/lights/pointlight\.h

rendering_lib/include/material\.h

rendering_lib/include/memory\.h

rendering_lib/include/parallel\.h

rendering_lib/include/parsers/ass_parser\.h

rendering_lib/include/parsers/text_parser\.h

rendering_lib/include/primitives\.h

rendering_lib/include/progressreporter\.h

rendering_lib/include/spectrum\.h

rendering_lib/include/stats\.h

rendering_lib/include/stringprint\.h

rendering_lib/include/transform\.h

rendering_lib/include/world\.h

whitted_scene/data/pattern\.tga

whitted_scene/scene\.dgc

rendering_lib/include/lights/arealight\.h

esqueleto_practica2/lib/include/lights/arealight\.h

esqueleto_practica1/bin/render_launcher\.exe

esqueleto_practica1\.zip

esqueleto_practica2/bin/render_launcher\.exe

esqueleto_practica2/\.vs/rendering/v15/\.suo

esqueleto_practica2/\.vs/rendering/v15/Browse\.VC\.db

esqueleto_practica2/\.vs/rendering/v15/Browse\.VC\.opendb

esqueleto_practica2/\.vs/rendering/v15/ipch/AutoPCH/8d15c70fec0b95ba/MAIN\.ipch

esqueleto_practica2/bin/rendering\.dll

esqueleto_practica2/bin/x64/Debug/rendering\.dll

esqueleto_practica2/bin/x64/Debug/rendering\.ilk

esqueleto_practica2/deploy/x64/Debug/rendering\.dll

esqueleto_practica2/deploy/x64/Debug/rendering\.lib
